<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css' ) }}">
     
    <title>Admin Dashboard</title>
</head>
<body>
    <div>
        <h2 style="position: absolute; left: 45%; top: 0; margin: 0;">Summary</h2>
    </div>

    <div class="container">
        <div style="padding-top: 60px;" class="row">

          <div class="col-md-4 pb-5">
            <div class="card text-center border-dark">
              <div class="card">
                <div class="bg-image hover-overlay ripple">
                  <img src="../static/movies_ticket.png" class="img-fluid"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Tickets Sold</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 pb-5">
            <div class="card text-center border-dark">
              <div class="card">
                <div class="bg-image hover-overlay ripple">
                  <img src="../static/movies_collection.png" class="img-fluid"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Box Office Collection</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 pb-5">
            <div class="card text-center border-dark">
              <div class="card">
                <div class="bg-image hover-overlay ripple">
                  <img src="../static/movies_rating.png" class="img-fluid"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Box Office Collection</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      
                
</body>
