<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' ) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Show</title>
  </head>

  <body>
  
    <div class="index_heading">
      <h2>Welcome to Ticket Booking App</h2>
    </div>
    
    <div class="btn">
      <a href="/user_login">Login</a>
      <a href="/user_signup">Signup</a>
    </div>
    
    <div class="admin-login">
      <a href="/admin_login">Admin Login</a>
    </div>
  
  </body>
</html>
