<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>

    <div style="position: relative; width: 100%;">
        <h1 style="position: absolute; left: 0; top: 0; margin: 0;">Venues</h1>
    </div>

    <br><br><br>
    
    {% if venues|length == 0 %}
        <h4>No venue Found. Add venue now!</h4>
    {% else %}
        {% for venue in venues %}
            {{ venue }}        
        {% endfor %}

        {% for show in shows %}
            {{ show }}        
        {% endfor %}
    {% endif %}
    <div>
        <a href="/user/{{user_id}}/create_booking">Book</a>
    </div>
</body>
</html>