<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user_name}}'s Bookings</title>
</head>
<body>

    <div>
        <h3>{{user_name}}'s Bookings</h3>
    </div>

    <br><br><br>
    
    {% if user_bookings_to_disp|length == 0 %}
        <h4>No Bookings by you so far!</h4>
    {% else %}
        {% for booking in user_bookings_to_disp %}
            <div>Show Name: {{booking[0]}}</div>
            <p>Show Timing: {{booking[1]}}</p>
            <p>Venue Name: {{booking[2]}}</p>
            <p>Venue Address: {{booking[3]}}</p>
            <p>Venue City: {{booking[4]}}</p>
            <br>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/user_dashboard/{{user_id}}">Book Now</a>
    </div>
</body>
</html>